.bg{
    background-image: url(https://res.cloudinary.com/dlvolch1i/image/upload/v1639628867/WikyApp/bg_ytlbre.jpg);
    background-size: cover;
    width:100%;
    background-position:center;
    background-attachment:fixed;
    background-repeat: no-repeat;
}
.loading{
    height: 470px;
    margin-top:40px;
    padding-top:50px;
}

